{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="max-width:600px; align-items: center; margin-top: 40px;">
    <h1 style="text-align:center; align-items: center; font-family: 'Courier New';">Add a New Dish!</h1>
    
    <form method="post" style="display:flex; flex-direction:column; gap:15px;">
        
        <label for="dish_name" style="text-align: center; font-family: 'verdana';">Dish Name:</label>
        <input type="text" id="dish_name" name="dish_name">
        
        <label for="cooking_time" style="text-align: center; font-family: 'verdana';">Cooking Time (minutes):</label>
        <input type="number" id="cooking_time" name="cooking_time">
        
        <label for="prep_time" style="text-align: center; font-family: 'verdana';">Preparation Time (minutes):</label>
        <input type="number" id="prep_time" name="prep_time">
        
        <button type="submit" style="padding:10px; background-color:#590404; color: white; border:none; cursor:pointer;">
            Save Dish
        </button>
    </form>
</div>

{% endblock %}
